/* line 5, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/main.scss */
.construction {
  position: fixed;
  margin-top: 250px;
  min-height: 50px;
  width: 70%;
  /*top: 30%;
  left: 23.5%;

  margin: 0;
  padding: 2% 5% 2% 5%;
  //height: 20%;
  min-height: 100px;
  wdith: 70%;*/
  background-color: rgba(185, 200, 185, 0.85);
  border: 2px solid #000000;
  border-radius: 35px;
}
/* line 29, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/main.scss */
.construction h1, .construction h2 {
  color: white;
  text-align: center;
  margin: 0;
}
/* line 36, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/main.scss */
.construction h1 {
  font-size: 42px;
  color: #c81414;
}
/* line 43, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/main.scss */
.construction h2 {
  margin-top: 7%;
  font-size: 34px;
  color: black;
}

/* line 51, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/main.scss */
.feed {
  position: relative;
  float: left;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  /*.col {
    margin: 0;
    height: 100%;
  }

  .col#one {
    position: relative;
    float: left;

    width: 25%;

    background-color: rgba(22, 0, 0, 0.25);

  }

  .col#two {
    position: relative;
    float: left;

    width: 75%;
  }*/
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 18, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
html {
  background-color: rgba(15, 35, 10, 0.35);
}

/* line 22, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.background #buffer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -9;
}

/* line 33, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.background #fore {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  background-image: url(/assets/_background_wetboards-dcc401ae77e28392c23cc0186d7bb9ef7b232329e6d5f12c6455fb0de8c0009e.jpg);
}

/* line 46, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
/* line 60, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.container .header {
  position: fixed;
  top: 0;
  left: 5%;
  margin: 0;
  height: 75px;
  width: 90%;
  z-index: 9;
  background-color: rgba(15, 25, 20, 0.8);
}
/* line 75, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.container .header .menu {
  position: relative;
  float: left;
  margin: 0;
  height: 100%;
  width: 10%;
  background-color: rgba(10, 7, 12, 0.8);
}
/* line 85, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.container .header .menu h1 {
  margin-top: 20%;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: white;
}
/* line 95, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.container .header .menu .menuBox {
  position: absolute;
  display: none;
  height: auto;
  width: 150%;
  margin: 0;
  padding: 20px;
  text-align: left;
  list-style-type: none;
  background-color: rgba(15, 25, 20, 0.8);
}
/* line 109, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.container .header .menu .menuBox a {
  color: white;
  font-size: 28px;
  text-decoration: none;
}
/* line 115, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.container .header .menu .menuBox li.active {
  background-color: #999999;
}
/* line 121, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.container .header .menu:hover .menuBox {
  display: block;
}
/* line 126, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.container .header .menu .menuBox li.ia:hover {
  background-color: red;
}
/* line 130, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.container .header .menu:hover {
  background-color: rgba(100, 0, 0, 0.6);
}
/* line 133, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.container .header .menu:hover h1 {
  text-decoration: underline;
}
/* line 139, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.container .main {
  position: relative;
  float: left;
  margin: 75px 5% 0 5%;
  height: 90%;
  width: 90%;
  background-color: rgba(22, 12, 16, 0.5);
}
