/* line 5, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/main.scss */
.construction {
  position: fixed;
  top: 40%;
  left: 30%;
  margin: 0;
  padding: 5%;
  height: 10%;
  wdith: 30%;
  background-color: grey;
  border-radius: 35px;
}
/* line 18, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/main.scss */
.construction h1, .construction h2 {
  color: white;
  text-align: center;
  margin: 0;
}
/* line 25, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/main.scss */
.construction h1 {
  color: #af1414;
}
/* line 29, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/main.scss */
.construction h2 {
  color: black;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 18, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
html {
  background-color: #141615;
}

/* line 22, C:/Users/Ryan/Projects/Web/Rails/glibberish/app/assets/stylesheets/application.scss */
.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(170, 175, 199, 0.15);
}
