// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.construction {
  position: fixed;
  top: 30%;
  left: 25%;

  margin: 0;
  padding: 7.5% 5% 0 5%;
  height: 20%;
  wdith: 50%;

  background-color: grey;
  border-radius: 35px;

  h1, h2 {
    color: white;
    text-align: center;

    margin: 0;
  }

  h1 {
    font-size: 38px;

    color: rgb(175, 20, 20);
  }

  h2 {
    font-size: 32px;

    color: black;
  }
}