// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.construction {
  position: fixed;
  top: 30%;
  left: 23.5%;

  margin: 0;
  padding: 2% 5% 2% 5%;
  height: 20%;
  wdith: 50%;

  //background-color: rgba(2, 50, 75, .75);
  background-color: rgba(185, 200, 185, .85);
  border: 2px solid #000000;
  border-radius: 35px;

  h1, h2 {
    color: white;
    text-align: center;

    margin: 0;
  }

  h1 {
    //text-shadow: -1.5px 0 #000, 0 1.5px #000, 1.5px 0 #000, 0 -1.5px #000;
    font-size: 42px;

    color: rgb(200, 20, 20);
  }

  h2 {
    margin-top: 7%;
    font-size: 34px;

    color: black;
  }
}